
body {
    background-color: #c7dcff;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.header{
    background-color:#c7dcff;
    display: flex;
    flex-direction: column;
}

#main{
    padding-bottom: 10px;
}

.site_name{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.5;
}

.nav_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fae478;
    align-items: center;
    padding-bottom: 1.5px;
}

/* used this website for the menu formatting: https://codepen.io/team/css-tricks/pen/YqaKYR */

.nav_item, .current {
    padding: 3px;
}

.skip {
    background-color: #fae478;
    left: 0;
    top: -50px;
    position: absolute;
}

a.skip:focus{
    top: 0;
    right: 0;
    color: #2b2b2b;
    text-decoration-style: solid;
    padding: 2px;
    position: relative;
}

.nav_list a {
    color: #0000e0;
    text-decoration: none;
}

.nav_list a:visited{
    color: #663399;
}

.nav_list a:hover{
    color: #005500;
    text-decoration: underline;
}

.current {
    text-transform: uppercase;
    background-color: white;
}

.banner_image{
    width: 100%;
    height: auto;
}

.text_w_image p{
    padding: 8.5px;
    text-align: center;
    padding-bottom: 5px;
    line-height: 1.5;
}

.text_w_image img{
    width: 100%;
    height: auto;
}

.footer{
    background-color: #fae478;
    text-align: center;
    width: 100%;
    padding-top: 1%;
    bottom: 0;
}

.bio_container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 15px;
    row-gap: 30px;
}

.bio_container div {
    border: 8px solid #2b2b2b;
    text-align: center;
    margin: 5px;
}

.bio_container img{
    width: 75vw;
}

.bio_container h2, h3{
    padding-top: 10px;
    line-height: 1.3;
}

.bio_container h3{
    padding-bottom: 15px;
}

.bio_container p{
    padding: 15px;
    line-height: 1.3;
}

.reading_container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.further_reading, .references{
    border: 5px solid #2b2b2b;
    margin: 10px;
    padding: 10px;
}

.further_reading h2, .references h2{
    text-align: center;
    line-height: 1.3;
    font-size: 1.1em;
}

.further_reading p, .references p{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.2;
}

.reading_container a{
    color: #00008b;

}

.reading_container a:visited{
    color: #591d77;

}

.timeline{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.content h2{
    margin: 10px;
}
.content p{
    margin: 10px;
    line-height: 1.4;
}

@media screen and (min-width: 800px){
    .reading_container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .further_reading, .references {
        width: 50%;
    }

    .bio_container{
        grid-template-columns: repeat(2, 50%);
        column-gap: 10px;
    }

    .bio_container img{
        width: 30vw;
    }
}
