
body {
    background-color: #c7dcff;
    font-family: "Roboto";
    font-size: 18px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.header{
    padding-top: 5px;
    background-color:#c7dcff;
    display: flex;
    flex-direction: column;
}

.site_name{
    text-align: center;
    padding-bottom: 2%;
}

.nav_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fae478;
    align-items: center;
}

/* used this website for the menu formatting: https://codepen.io/team/css-tricks/pen/YqaKYR */

.nav_item, .current {
    padding: 0.5%;
}

.skip {
    background-color: #fae478;
    left: 0;
    top: -50px;
    position: absolute;
}

a.skip:focus{
    top: 0;
    right: 0;
    color: #2b2b2b;
    text-decoration-style: solid;
    padding: 2px;
    position: relative;
}

.nav_list a {
    color: #0000e0;
    text-decoration: none;
}

.nav_list a:visited{
    color: #663399;
}

.nav_list a:hover{
    color: #005500;
}

.current {
    text-transform: uppercase;
}


.banner_image{
    width: 100%;
    height: auto;
}

.text p{
    padding: 5px;
    text-align: center;
    padding-bottom: 5px;
    grid-row: 1/2;
}

.footer{
    background-color: #fae478;
    text-align: center;
    width: 100%;
    position: relative;
    padding-top: 3%;
    bottom: 0;
}





